SetHandler python-program
PythonHandler simi_mod_python
PythonOption paste.ini /home/albumglue/dev/simi/deployment.ini
PythonPath "[ '/home/albumglue/dev/simi' ] + sys.path"


RewriteEngine On

RewriteRule (.*)\--(.*)\.css $1\.css [L] 
RewriteRule (.*)\--(.*)\.js  $1\.js [L]

RewriteRule (.*)dispatch\.fcgi/(.*)  http://simipic.dyndns.org/$2 [L]


